* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 200px;
    background-color: #1F2937;
}

.hero {
    display: flex;
    background-color: #1F2937;
    padding: 50px 200px;
    justify-content: space-between;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 400px;
}

.hero-subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.image-placeholder {
    display: flex;
    flex: 0 1 auto;
    background-color: gray;
    color: #F9FAF8;
    width: 600px;
    height: 200px;
    margin: 0 0 50px 50px;
    justify-content: center;
    align-items: center;
}

.hero-main {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    margin: 0;
}

.info {
    text-align: center;
    padding: 50px 200px;
}

.info-header {
    font-size: 36px;
    font-weight: 800;
    color: #152937;
}

.info-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 150px;
}

.card {
    border-radius: 10px;
    border-style: solid;
    border-color: lightblue;
    border-width: 3px;
    height: 150px;
    width: 150px;
}

.container {
    display: flex;
    gap: 52px;
    justify-content: center;
}

button {
    background-color: #3882F6;
    padding: 8px 25px;
    flex-grow: 0;
    font-size: 16px;
    color: #F9FAF8;
    border-radius: 10px;
    flex: 0 0 auto;
    border: none;
}

ul {
    display: flex;
    gap: 16px;
    list-style: none;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

footer {
    display: flex;
    background-color: #1F2937;
    color: #E5E7EB;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

section {
    flex: 1;
}

.quote-container {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 200px;

}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    width: 800px;
}

.quote-author {
    align-self: flex-end;
    margin-right: 250px;
}

.sign-up {
    display: flex;
    padding: 50px 400px;
    justify-content: center;
    align-items: center;
}

.sign-up-container {
    background-color: #3882F6;
    border-radius: 15px;
    display: flex;
    padding: 40px 100px;
    flex: 1 1 auto;
    justify-content: space-between;
}

.sign-up-btn {
    font-size: 18px;
    border-color: white;
    border-width: 2px;
    border-style: solid;
}

.sign-up-title {
    color: #F9FAF8;
    margin: 0;
}

.sign-up-text {
    color: #E5E7EB;
}

